@tailwind base;
@tailwind components;
@tailwind utilities;

.main-backdrop1{
  /* background-image: url(../public/backdrop.svg); */
  background:
linear-gradient(#F7EDE2 14%, #FDEAA3 28%, #F6839C 42%, #F472B6 56%, #7D80DA 70%, #7DD3FC 84%, #6EE7B7 98%);

height: 10004px;

  background-size: cover;

}

.main-backdrop2{
  background-image: url(../public/full_backdrop.png);
  background-size: cover;

}

.profile-sunflower-backdrop{
  background-image: url(../public/sunflower_code.png);
  width: 863px;
  height: 819px;
  background-repeat: no-repeat;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
